@using ChefApp.Models.DbModels
@using SmileChef.Models.DbModels
@using SmileChef.ViewModels
@model RecipeMarketViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (var recipe in Model.Recipes)
{
    <div class="col-md-5 col-lg-4">
        <div class="card">
            <div class="card-header">
                @if (recipe is PremiumRecipe pr)
                {
                    <div class="mb-2 d-flex justify-content-between align-items-center">
                        <div>
                            <span class="lead me-1">@pr.RecipeType.ToString()</span>
                            <span class="fs-6 fw-semibold">(@($"{pr.Price:C2}"))</span>
                        </div>
                        <a class="btn btn-primary anchorCartButton" href="javascript:void(0)" data-recipe-name="@pr.Name" data-recipe-price="@pr.Price" data-recipe-id="@pr.RecipeId" onclick="showQuantityModal(this)">Add to Cart</a>
                    </div>
                }
                else
                {
                    <span class="lead">@recipe.RecipeType.ToString()</span>
                }

                <div class="card-img img-thumbnail mt-2"><img src="~/images/recipe1.jpeg" width="100%" height="200px" style="object-fit:cover;" /></div>
                <div class="d-flex justify-content-between align-items-center pt-2">
                    <div class="card-title pt-2 fs-4"><a class="btn btn-secondary" asp-action="ViewRecipe" asp-controller="Chef" asp-route-recipeId="@recipe.RecipeId">@recipe.Name</a></div>
                    <a class="anchorBookmark" href="javascript:void(0)" data-recipe-id="@recipe.RecipeId" data-recipe-name="@recipe.Name">
                        @if(Model.CurrentBookmarks.FirstOrDefault(bm => bm.RecipeId == recipe.RecipeId) == null){
                            <i class="fa fa-bookmark text-black"></i>
                        }else{
                            <i class="fa fa-bookmark text-primary"></i>
                        }
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    @if(recipe.Instructions.Count > 0){
                        <div>
                            <a href="#" class="btn btn-info text-black" data-bs-toggle="collapse" data-bs-target="#@("instructions_" + recipe.RecipeId)">Show Instructions</a>
                            <div id="@("instructions_" + recipe.RecipeId)" class="collapse mt-2">
                                <ul class="list-group">
                                    @foreach (var instruct in recipe.Instructions)
                                    {
                                        <li class="list-group-item">@instruct.OrderId. @instruct.Description&nbsp;&nbsp; @(instruct.Duration.HasValue ? instruct.Duration.Value.Minutes : "N/A")</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                    else
                    {
                        <span>No Instructions have been added to this recipe...</span>
                    }
                </div>
            </div>
        </div>
    </div>
}

