@using SmileChef.Models.DbModels
@model Order

@{

}

<div class="col-md-12">
    <h1 class="lead">Showing Orderline History</h1>
    <h2 class="fs-5 fw-semibold">OrderId: @Model.OrderId</h2>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m.OrderLines[0].RecipeName)</th>
                <th>Price Per Recipe</th>
                <th>@Html.LabelFor(m => m.OrderLines[0].Quantity)</th>
                <th>@Html.LabelFor(m => m.OrderLines[0].Price)</th>
            </tr>
        </thead>
        <tbody class="fs-5">
            @foreach (var ol in Model.OrderLines)
            {
                <tr>
                    <td width="30%">@ol.RecipeName</td>
                    <td width="15%">
                        @if(ol.Recipe is PremiumRecipe pr)
                        {
                            @(pr.Price!.Value.ToString("C2"))
                        }
                    </td>
                    <td width="15%"><span class="ps-3">@ol.Quantity</span></td>
                    <td width="10%">@ol.Price.ToString("C2")</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td class="lead">Subtotal: </td>
                <td><span class="fw-semibold">@Model.TotalPrice.ToString("C2")</span></td>
            </tr>
        </tbody>
    </table>
</div>
