@using SmileChef.Models.DbModels
@model List<SupportMessage>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var ongoingIssues = Model.Where(sm => sm.SupportStatus == SupportStatus.Ongoing).ToList();
    var resolvedIssues = Model.Except(ongoingIssues).ToList();
}

<style>
    .issuesContainer > div.col-12.border-bottom:last-child{
        border-bottom: none !important;
    }
</style>

<div>
    <h1 class="lead fs-2">My Support Center</h1>
    <hr class="mt-1"/>
</div>
<div class="border mb-3 p-2 rounded-1">
    <div class="fs-4 lead text-danger">On-going Issues</div>
    <hr class="my-1"/>
    @if (ongoingIssues.Count > 0)
    {
        <div class="row gap-2 mx-auto issuesContainer">
            @foreach (var issue in ongoingIssues)
            {
                <div class="col-12 border-bottom p-2">
                    <div class="d-flex justify-content-between mb-1">
                        <span class="fs-5">Subject: <b class="fw-semibold">@issue.Subject</b></span>
                        <span clsas="fs-6">Status: <b class="fw-semibold text-danger">@issue.SupportStatus</b></span>
                    </div>
                    <p class="mb-1">
                        Issue category: <b>@issue.SupportType</b>
                    </p>
                    <div class="mb-1">
                        <span class="border-bottom border-black mb-1 d-inline-block">
                        My Message:
                        </span>
                        <p class="mb-0">
                             <b class="fw-semibold">@issue.Message</b>
                        </p>
                    </div>
                    <div>
                        Issue created on: <b class="fw-semibold fst-italic">@(issue.Created.HasValue ? issue.Created.Value.ToString("g") : "Not specified")</b>
                    </div>
                </div>
            }
        </div>
    }
</div>

<div class="border p-2 rounded-1">
    <div class="fs-4 lead text-success">Resolved Issues</div>
    <hr class="my-1"/>
    @if (resolvedIssues.Count > 0)
    {
        <div class="row gap-2 mx-auto issuesContainer">
            @foreach (var issue in resolvedIssues)
            {
                <div class="col-12 border-bottom p-2">
                    <div class="d-flex justify-content-between mb-1">
                        <span class="fs-5">Subject: <b class="fw-semibold">@issue.Subject</b></span>
                        <span>Status: <b class="fw-semibold text-success">@issue.SupportStatus</b></span>
                    </div>
                    <p class="mb-1">
                        Issue category: <b>@issue.SupportType</b>
                    </p>
                    <div class="mb-1">
                        <span class="border-bottom border-black mb-1 d-inline-block">
                            My Message:
                        </span>
                        <p class="mb-0">
                            <b class="fw-semibold">@issue.Message</b>
                        </p>
                    </div>
                    <div class="mb-1">
                        <span class="border-bottom border-black mb-1 d-inline-block">
                            Admin Response:
                        </span>
                        <p class="mb-1">
                            <b class="fw-semibold">@issue.AdminMessage</b>
                        </p>
                        <p class="mb-0">
                            Resolved by Admin: <b class="fst-italic text-success">@issue.AdminUser.Email</b>
                        </p>
                    </div>
                    <div>
                        Issue closed on: <b class="fw-semibold fst-italic">@(issue.ClosedDate.HasValue ? issue.ClosedDate.Value.ToString("g") : "Not specified")</b>
                    </div>
                </div>
            }
        </div>
    }
</div>
