@using SmileChef.ViewModels
@model ChefViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    a {
        cursor: pointer;
    }
</style>

<div class="text-center">
    <h1 class="display-5">All Recipes for:</h1>
    <p class="fs-3">@Model.ChefName</p>
    <p>Current User Email: @Model.User.Email</p>
</div>

@if (TempData["RecipeSuccess"] != null)
{
    var isSuccess = (bool)TempData["RecipeSuccess"];
    <div class="alert @(isSuccess ? "alert-success" : "alert-danger") alert-dismissible" id="recipeAlert">
        @TempData["RecipeSuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container mb-3 d-flex gap-2">
    <input class="form-control w-50" id="userEntry" />
    <button class="btn btn-success" onclick="filterRecipes()">
        <i class="fa-solid fa-magnifying-glass pe-2"></i>Filter Recipes
    </button>
</div>
<div class="container mb-4">
    @Html.ActionLink("Add Recipe", "AddRecipe", "Chef", new { }, new { @class = "btn btn-primary" })
</div>
<div id="recipesContainer">
    @await Html.PartialAsync("_RecipesPartial", Model)
</div>

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var recipeSuccessMessage = '@ViewBag.RecipeSuccessMessage';
            if (recipeSuccessMessage && recipeSuccessMessage !== '') {
                $('#recipeSuccessMessageModal').show();
            }
        });

        function showAddInstructionModal() {
            var modal = new bootstrap.Modal(document.getElementById('addInstructionModal'));
            modal.show();
        }

        function filterRecipes() {
            var inputValue = $("#userEntry").val();
            $.ajax({
               type: "POST",
                url: '@Url.Action("FilterRecipes", "Chef")',
                data: JSON.stringify({ filterString : inputValue }),
                // data: { message: message },
                contentType: "application/json;",
                datatype: "html",
                success: function (result) {
                    if (result === "Error") {
                        Swal.fire({
                            title: "Error Occurred",
                            text: "No recipes found matching the filter.",
                            icon: "error"
                        });
                        $("#recipesContainer").html('<div class="container"><p class="text-bg-danger fst-italic p-2">No Recipes found with the given recipe name</p></div>');
                    } else {
                        $("#recipesContainer").html(result);
                        Swal.fire({
                            title: "Success",
                            text: "Recipes filtered successfully.",
                            icon: "success"
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        title: "Error Occurred",
                        text: "An unexpected error occurred.",
                        icon: "error"
                    });
                }
            });
            return false;
        }
    </script>
}