@using ChefApp.Models.DbModels
@using SmileChef.Models.DbModels
@using SmileChef.ViewModels
@model RecipeMarketViewModel

@{

}

<div class="row mb-3 mt-2">
    <div class="col-md-3 mb-2 mb-md-0">
        @Html.DropDownList("SelectRecipeType", new List<SelectListItem>()
        {
                    new SelectListItem(){Text = "Basic", Value="Basic"},
                    new SelectListItem(){Text = "Premium", Value="Premium"}
        }, "Filter By Recipe Type", new {@class="form-select", @onchange="onRecipeTypeChanged(this)"})
    </div>
    <div class="col-md-5 d-flex gap-2">
        <input id="tbSearchRecipeName" class="form-control" type="search" placeholder="Search by Recipe Name" aria-label="Search" oninput="onSearchRecipeName(this)">
    </div>
</div>

<div class="row gy-3" id="recipeListContainer">
    @{
        await Html.RenderPartialAsync("_RecipeMarketListPartial", Model);
    }
</div>

<div class="modal" tabindex="-1" id="showQuantityModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Item Quantity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <input id="hfRecipeId" type="hidden" />
          <div><p>Adding to Cart Item: <span class="fw-bold" id="spanRecipeName"></span></p></div>
          <div><p>Price: <span id="spanRecipePrice"></span></p></div>
          <div class="form-group">
                <label class="form-label" for="tbOrderLineQuantity">Select Quantity: </label>
                <input class="form-control w-25 d-inline-block" id="tbOrderLineQuantity" type="number" min="1" max="999" step="1" value="" />
          </div>
      </div>
      <div class="modal-footer">
        @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> *@
        <button id="btnSaveRecipeToCart" type="button" class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
  </div>
</div>

@section Scripts{
    <script>

        // #region GLOBAL VARIABLES
        let debounceTimeout = null;
        // #endregion

        //#region Handling Recipe Bookmarking
        $(document).on('click', 'div.card-header div.d-flex a.anchorBookmark[data-recipe-id]', function () {
            let $anchorElem = $(this);
            let recipeId = $anchorElem.data('recipe-id');
            let recipeName = $anchorElem.data('recipe-name');
            console.log(`recipeId: ${recipeId}`);
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddOrRemoveRecipeBookmark")',
                data: { recipeId },
                success: function (response) {
                    if (response.success) {
                        if (response.status === 'added') {
                            Swal.fire({
                                title: 'Bookmark added',
                                text: `${recipeName} has been added to Recipe bookmark`,
                                icon: 'success'
                            })
                            //both approaches below works the same but finding the svg and manipulating it's css is more efficient and safe
                            //$(`a[data-recipe-id=${recipeId}]`).html('<i class="fa fa-bookmark text-primary"></i>');
                            $(`a[data-recipe-id=${recipeId}]`).find('svg').removeClass('text-black').addClass('text-primary');
                        } else if (response.status === 'deleted') {
                            Swal.fire({
                                title: 'Bookmark deleted',
                                text: `${recipeName} has been deleted from Recipe bookmark`,
                                icon: 'success'
                            })
                            //$(`a[data-recipe-id=${recipeId}]`).html('<i class="fa fa-bookmark text-black"></i>');
                            $(`a[data-recipe-id=${recipeId}]`).find('svg').removeClass('text-primary').addClass('text-black');
                        }
                    } else {
                        //Might be the user clicked on premium recipe and need to purchase it
                        //Sweetalert2 (Swal) has the following icons: success, error, warning, info, question
                        Swal.fire({
                            title: "Information",
                            text: "Premium recipe needs to be purchased in order to bookmark",
                            icon: "info"
                        })
                    }
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    console.log('Error - ' + errorMessage);
                    Swal.fire({
                        title: "Error Occurred",
                        text: errorMessage,
                        icon: "error"
                    });
                }
            });
        });
        // #endregion

        // #region Filter RecipeMarket by RecipeType ("Basic" or "Premium")
        function onRecipeTypeChanged(selection) {
            let recipeType = $(selection).val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("FilterRecipeMartetByRecipeType")',
                data: { recipeType: recipeType },
                dataType: "html",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8;",
                success: function (response) {
                    $('#recipeListContainer').empty().html(response);
                    Swal.fire({
                        title: "",
                        text: "Recipes have been filtered successfully",
                        icon: "success"
                    })
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    console.log('Error - ' + errorMessage);
                    Swal.fire({
                        title: "Error Occurred",
                        text: errorMessage,
                        icon: "error"
                    });
                }
            });
        }
        // #endregion

        // #region Filter RecipeMarket by RecipeName
        function onSearchRecipeName(input) {
            // Using debouncer to restrict the frequency of the call made to the server on every input change
            clearTimeout(debounceTimeout);
            debounceTimeout = setTimeout(function () {
                let searchValue = $(input).val();
                console.log(`Search Value: ${searchValue}`)
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("FilterRecipeMartetByRecipeName")',
                    data: { searchedRecipeName: searchValue },
                    dataType: "html",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8;",
                    success: function (response) {
                        $('#recipeListContainer').empty().html(response);
                        // Swal.fire({
                        //     title: "",
                        //     text: "Recipes have been filtered successfully",
                        //     icon: "success"
                        // })
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.status + ': ' + xhr.statusText;
                        console.log('Error - ' + errorMessage);
                        Swal.fire({
                            title: "Error Occurred",
                            text: errorMessage,
                            icon: "error"
                        });
                    }
                });
            }, 500);
        }
        // #endregion

        // #region Cart Functionalities

        // Show Quantity Selection Modal
        /*
        function showQuantityModal(anchorElem){
            let $anchorElem = $(anchorElem);
            let recipeName = $anchorElem.data('recipe-name');
            let recipePrice = $anchorElem.data('recipe-price');
            let recipeId = $anchorElem.data('recipe-id');

            $('#hfRecipeId').val(recipeId);
            $('#spanRecipeName').text(recipeName);
            $('#spanRecipePrice').text(recipePrice);
            $('#tbOrderLineQuantity').val('1');
            $('#showQuantityModal').modal('show');
        }
        */

        // The following is being down in line number: 200
        // Please refer to the $(document).on(ready() => {
        //   $('#btnSaveRecipeToCart') being handled by an event delegation on the document element
        // })

        // The following is being down in line number: 294
        // Please refer to the $(document).on(ready() => {
        // $(document).on('click', '#btnCheckoutCart', () => { }); being handled by an event delegation on the document element

        // Removing Existing OrderLine from the Cart
        /*
        function removeOrderLine(indexOfOrderLine){
            $.ajax({
                    type : "POST",
                    url : '@Url.Action("RemoveOrderLine")',
                    dataType : "json",
                    contentType : "application/x-www-form-urlencoded; charset=UTF-8",
                        data : { aIndexOfOrderLine : indexOfOrderLine},
                    success : function(response){
                        if(response.success){
                            $('#orderDetailsContainer').empty().html(response.partialView);
                            Swal.fire({
                                title : "Successful",
                                text : response.message,
                                icon : "success"
                            });
                        }else{
                            console.log(response);
                            Swal.fire({
                                title : "Invalid Operation",
                                text : response.message,
                                icon : "warning"
                            });
                        }
                    },
                    error : function(xhr, status, error){
                        let errorMessage = `${xhr.status} : ${xhr.statusText} : ${xhr.responseText}`;
                        console.log(`Error - ${errorMessage}`)
                        Swal.fire({
                            title: "Error Occurred",
                            text: `An error occurred: ${xhr.statusText}. Please try again later.`,
                            icon: "error"
                        });
                    }
                });
        }
        */
        // #endregion

        

        $(document).ready(function () {
            console.log("Page loaded ViewRecipeMarket.cshtml")

            // #region Retrieving the current session Order
            /*
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCurrentCart")',
                dataType: "json",
                success: function (response) {
                    if ($.isEmptyObject(response) || !response.partialView) {
                        // If the response is empty or does not contain the partialView property
                        console.log("Cart is empty.");
                        // Swal.fire({
                        //     title: "Information",
                        //     text: "Your cart is currently empty.",
                        //     icon: "info"
                        // });
                    } else {
                        // If the response contains the partialView
                        console.log("Cart has been loaded.");
                        $('#orderDetailsContainer').empty().html(response.partialView);
                    }
                },
                error: function (xhr, status, error) {
                    let errorMessage = `${xhr.status} : ${xhr.statusText} : ${xhr.responseText}`;
                    console.log(`Error - ${errorMessage}`);
                    Swal.fire({
                        title: "Error Occurred",
                        text: `An error occurred: ${xhr.statusText}. Please try again later.`,
                        icon: "error"
                    });
                }
            });
            */
            // #endregion       

            //#region Performing Adding Recipes(OrderLine) to Cart
            /*
            $(document).on('click', '#btnSaveRecipeToCart', () => {
                let orderLineQuantity = $('#tbOrderLineQuantity').val();
                let recipeId = $('#hfRecipeId').val();
                $.ajax({
                    type : "POST",
                    url : '@Url.Action("AddOrderLine")',
                    dataType : "json",
                    contentType : "application/x-www-form-urlencoded; charset=UTF-8",
                    data : { aRecipeId : recipeId, aQuantity : orderLineQuantity},
                    success : function(response){
                        if(response.success){
                            //console.log(response);
                            $('#orderDetailsContainer').empty().html(response.partialView);
                            Swal.fire({
                                title : "Successful",
                                text : response.message,
                                icon : "success"
                            });
                            $('#tbOrderLineQuantity').val('1');
                            $('#showQuantityModal').modal('hide');
                        }else{
                            console.log(response);
                            Swal.fire({
                                title : "Invalid Operation",
                                text : response.message,
                                icon : "warning"
                            });
                        }
                    },
                    error : function(xhr, status, error){
                        let errorMessage = `${xhr.status} : ${xhr.statusText} : ${xhr.responseText}`;
                        console.log(`Error - ${errorMessage}`)
                        Swal.fire({
                            title: "Error Occurred",
                            text: `An error occurred: ${xhr.statusText}. Please try again later.`,
                            icon: "error"
                        });
                    }
                });
            });
            */
            //#endregion

            //#region Performing CheckOut of Cart
            /*
            $(document).on('click', '#btnCheckoutCart', () => {
                let totalPrice = parseFloat($('#txtTotalPrice').text().replace('£', '').replace(/,/g, ''));
                let totalBalance = $('#spanAccountBalance').text();
                console.log(`value of totalBalance: ${totalBalance}`);
                // Remove the currency symbol and commas, then parse the result as a float
                let currentBalance = parseFloat(totalBalance.replace('£', '').replace(/,/g, '')); 
                console.log(`value of currentBalance: ${currentBalance}`);
                if (totalPrice !== 0.00){
                    const formattedBalance = new Intl.NumberFormat('en-GB', { style: 'currency', currency: 'GBP' }).format(currentBalance);
                    const formattedTotalPrice = new Intl.NumberFormat('en-GB', { style: 'currency', currency: 'GBP' }).format(totalPrice);
                    Swal.fire({
                        title: "Confirmation",
                        html: 
                        `
                            <p class="fs-4 mb-3">Current Balance: <b class="text-success">${formattedBalance}</b></p>
                            <p class="mb-2 fs-5">Total <b class="text-danger fw-bold">${formattedTotalPrice}</b> will be deducted from your balance</p>
                            <p class="text-black fw-semibold">Are you sure to place the order?</p>
                        `,
                        icon: "info",
                        showCancelButton: true,
                        confirmButtonText: 'Yes, checkout!',
                        cancelButtonText: 'No, cancel!'
                    }).then((result) => {
                      if(result.isConfirmed){
                          // User confirmed, proceed with the AJAX request
                          $.ajax({
                            type : "POST",
                            url : '@Url.Action("CheckoutOrder")',
                            dataType : "json",
                            contentType : "application/x-www-form-urlencoded; charset=UTF-8",
                            success : function(response){
                                if(response.success){
                                    let formattedAccountBalance = new Intl.NumberFormat('en-GB', { style: 'currency', currency: 'GBP' }).format(response.accountBalance);
                                    $('#orderDetailsContainer').empty().html(response.partialView);
                                    $('#spanAccountBalance').text(`${formattedAccountBalance}`)
                                    Swal.fire({
                                        title: "Success",
                                        html: response.message,
                                        icon: "success"
                                    }).then((result) => {
                                        let dropDown = new bootstrap.Dropdown($('#anchorOrderDetails')[0]);
                                        if (result.isConfirmed) {
                                            console.log(`sweetalert was confirmed OK`);
                                            dropDown.hide();
                                        } else if (result.dismiss === Swal.DismissReason.close){
                                            console.log(`sweetalert was dismissed by clicking outside`);
                                            dropDown.hide();
                                        }
                                    });
                                }else{
                                    console.log(response);
                                    Swal.fire({
                                        title : "Invalid Operation",
                                        text : response.message,
                                        icon : "error"
                                    });
                                }
                            },
                            error : function(xhr, status, error){
                                let errorMessage = `${xhr.status} : ${xhr.statusText} : ${xhr.responseText}`;
                                console.log(`Error - ${errorMessage}`)
                                Swal.fire({
                                    title: "Error Occurred",
                                    text: `An error occurred: ${xhr.statusText}. Please try again later.`,
                                    icon: "error"
                                });
                            }
                        });
                      }
                    });
                }else{
                    Swal.fire({
                        title : "Information",
                        text : "No item has been added yet to checkout",
                        icon : "info"
                    })
                }
            });
            */
            //#endregion
        });
    </script>
}
        