@using ChefApp.Models.DbModels
@using SmileChef.Models.DbModels
@using SmileChef.ViewModels
@model RecipeMarketViewModel

@{

}



<div class="row mb-3 mt-2">
    <div class="col-md-3 mb-2 mb-md-0">
        @Html.DropDownList("SelectRecipeType", new List<SelectListItem>()
        {
                    new SelectListItem(){Text = "Basic", Value="Basic"},
                    new SelectListItem(){Text = "Premium", Value="Premium"}
        }, "Filter By Recipe Type", new {@class="form-select", @onchange="onRecipeTypeChanged(this)"})
    </div>
    <div class="col-md-5 d-flex gap-2">
        <input id="tbSearchRecipeName" class="form-control" type="search" placeholder="Search by Recipe Name" aria-label="Search" oninput="onSearchRecipeName(this)">
    </div>
</div>

<div class="row gy-3" id="recipeListContainer">
    @{
        await Html.RenderPartialAsync("_RecipeMarketListPartial", Model);
    }
</div>

<div class="modal" tabindex="-1" id="showQuantityModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <input id="hfRecipeId" type="hidden" />
          <div><p>Adding to card for Recipe: <span id="spanRecipeName"></span></p></div>
          <div><p>Price: <span id="spanRecipePrice"></span></p></div>
          <div class="form-group">
                <label class="form-label" for="tbOrderLineQuantity">Select Quantity: </label>
                <input class="form-control w-25 d-inline-block" id="tbOrderLineQuantity" type="number" min="1" max="999" step="1" value="" />
          </div>
      </div>
      <div class="modal-footer">
        @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> *@
        <button id="btnSaveRecipeToCart" type="button" class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
  </div>
</div>

@section Scripts{
    <script>

        // #region GLOBAL VARIABLES
        let debounceTimeout = null;
        // #endregion

        

        // #region Cart Functionalities

        //Show Quantity Selection Modal
        function showQuantityModal(anchorElem){
            let $anchorElem = $(anchorElem);
            let recipeName = $anchorElem.data('recipe-name');
            let recipePrice = $anchorElem.data('recipe-price');
            let recipeId = $anchorElem.data('recipe-id');

            $('#hfRecipeId').val(recipeId);
            $('#spanRecipeName').text(recipeName);
            $('#spanRecipePrice').text(recipePrice);
            $('#tbOrderLineQuantity').val('1');
            $('#showQuantityModal').modal('show');
        }

        // The following is being down in line number: 200
        // Please refer to the $(document).on(ready() => {
        //   $('#btnSaveRecipeToCart') being handled by an event delegation on the document element
        // })

        //Removing Existing OrderLine from the Cart
        function removeOrderLine(indexOfOrderLine){
            $.ajax({
                    type : "POST",
                    url : '@Url.Action("RemoveOrderLine")',
                    dataType : "json",
                    contentType : "application/x-www-form-urlencoded; charset=UTF-8",
                        data : { aIndexOfOrderLine : indexOfOrderLine},
                    success : function(response){
                        if(response.success){
                            $('#orderDetailsContainer').empty().html(response.partialView);
                            Swal.fire({
                                title : "Successful",
                                text : response.message,
                                icon : "success"
                            });
                        }else{
                            console.log(response);
                            Swal.fire({
                                title : "Invalid Operation",
                                text : response.message,
                                icon : "warning"
                            });
                        }
                    },
                    error : function(xhr, status, error){
                        let errorMessage = `${xhr.status} : ${xhr.statusText} : ${xhr.responseText}`;
                        console.log(`Error - ${errorMessage}`)
                        Swal.fire({
                            title: "Error Occurred",
                            text: `An error occurred: ${xhr.statusText}. Please try again later.`,
                            icon: "error"
                        });
                    }
                });
        }

        // #endregion


        function onRecipeTypeChanged(selection) {
            let recipeType = $(selection).val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("FilterRecipeMartetByRecipeType")',
                data: { recipeType: recipeType },
                dataType : "html",
                contentType : "application/x-www-form-urlencoded; charset=UTF-8;",
                success: function (response) {
                    $('#recipeListContainer').empty().html(response);
                    Swal.fire({
                        title: "",
                        text: "Recipes have been filtered successfully",
                        icon: "success"
                    })
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    console.log('Error - ' + errorMessage);
                    Swal.fire({
                        title: "Error Occurred",
                        text: errorMessage,
                        icon: "error"
                    });
                }
            });
        }

        function onSearchRecipeName(input) {
            // Using debouncer to restrict the frequency of the call made to the server on every input change
            clearTimeout(debounceTimeout);
            debounceTimeout = setTimeout(function () {
                let searchValue = $(input).val();
                console.log(`Search Value: ${searchValue}`)
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("FilterRecipeMartetByRecipeName")',
                    data: { searchedRecipeName: searchValue },
                    dataType: "html",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8;",
                    success: function (response) {
                        $('#recipeListContainer').empty().html(response);
                        // Swal.fire({
                        //     title: "",
                        //     text: "Recipes have been filtered successfully",
                        //     icon: "success"
                        // })
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.status + ': ' + xhr.statusText;
                        console.log('Error - ' + errorMessage);
                        Swal.fire({
                            title: "Error Occurred",
                            text: errorMessage,
                            icon: "error"
                        });
                    }
                });     
            }, 500);
        }

        $(document).ready(function () {
            console.log("Page loaded ViewRecipeMarket.cshtml")

            //#region Handling Recipe Bookmarking
            $(document).on('click', 'div.card-header div.d-flex a.anchorBookmark[data-recipe-id]', function(){
                let $anchorElem = $(this);
                let recipeId = $anchorElem.data('recipe-id');
                let recipeName = $anchorElem.data('recipe-name');
                console.log(`recipeId: ${recipeId}`);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddOrRemoveRecipeBookmark")',
                    data: { recipeId },
                    success: function (response) {
                        if(response.success){
                            if (response.status === 'added') {
                                Swal.fire({
                                    title : 'Bookmark added',
                                    text: `${recipeName} has been added to Recipe bookmark`,
                                    icon : 'success'
                                })
                                //both approaches below works the same but finding the svg and manipulating it's css is more efficient and safe
                                //$(`a[data-recipe-id=${recipeId}]`).html('<i class="fa fa-bookmark text-primary"></i>');
                                $(`a[data-recipe-id=${recipeId}]`).find('svg').removeClass('text-black').addClass('text-primary');
                            } else if (response.status === 'deleted') {
                                Swal.fire({
                                    title: 'Bookmark deleted',
                                    text: `${recipeName} has been deleted from Recipe bookmark`,
                                    icon: 'success'
                                })
                                //$(`a[data-recipe-id=${recipeId}]`).html('<i class="fa fa-bookmark text-black"></i>');
                                $(`a[data-recipe-id=${recipeId}]`).find('svg').removeClass('text-primary').addClass('text-black');
                            }
                        }else{
                            //Might be the user clicked on premium recipe and need to purchase it
                            //Sweetalert2 (Swal) has the following icons: success, error, warning, info, question
                            Swal.fire({
                                title : "Information",
                                text : "Premium recipe needs to be purchased in order to bookmark",
                                icon : "info"
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.status + ': ' + xhr.statusText;
                        console.log('Error - ' + errorMessage);
                        Swal.fire({
                            title: "Error Occurred",
                            text: errorMessage,
                            icon: "error"
                        });
                    }
                });
            });
            // #endregion 

            //#region Performing Adding Recipes(OrderLine) to Cart
            $(document).on('click', '#btnSaveRecipeToCart', () => {
                let orderLineQuantity = $('#tbOrderLineQuantity').val();
                let recipeId = $('#hfRecipeId').val();
                console.log(`btnSaveRecipeToCart => Values, orderLineQuantity: ${orderLineQuantity}, recipeId: ${recipeId}`);
                $.ajax({
                    type : "POST",
                    url : '@Url.Action("AddOrderLine")',
                    dataType : "json",
                    contentType : "application/x-www-form-urlencoded; charset=UTF-8",
                    data : { aRecipeId : recipeId, aQuantity : orderLineQuantity},
                    success : function(response){
                        if(response.success){
                            console.log(response);
                            $('#orderDetailsContainer').empty().html(response.partialView);
                            Swal.fire({
                                title : "Successful",
                                text : response.message,
                                icon : "success"
                            });
                            $('#tbOrderLineQuantity').val('1');
                            $('#showQuantityModal').modal('hide');
                        }else{
                            console.log(response);
                            Swal.fire({
                                title : "Invalid Operation",
                                text : response.message,
                                icon : "warning"
                            });
                        }
                    },
                    error : function(xhr, status, error){
                        let errorMessage = `${xhr.status} : ${xhr.statusText} : ${xhr.responseText}`;
                        console.log(`Error - ${errorMessage}`)
                        Swal.fire({
                            title: "Error Occurred",
                            text: `An error occurred: ${xhr.statusText}. Please try again later.`,
                            icon: "error"
                        });
                    }
                });
            });
            //#endregion

            //#region Performing Adding Recipes(OrderLine) to Cart
            $(document).on('click', '#btnRemoveOrderLine', () => {
                let orderLineQuantity = $('#tbOrderLineQuantity').val();
                let recipeId = $('#hfRecipeId').val();
                console.log(`btnSaveRecipeToCart => Values, orderLineQuantity: ${orderLineQuantity}, recipeId: ${recipeId}`);
            });
            //#endregion
        });
    </script>
}
        